{% extends 'shared/main-layout.twig' %}

{% block title %}
    {% parent %}
{% endblock %}

{% block head %}
    {% parent %}
{% endblock %}

{% block content %}
    <div ng-view></div>
{% endblock %}