<div>
    <h3>Dashboard</h3>
    <table class="table">
        <thead>
            <th>#</th>
            <th>Project Name</th>
            <th></th>
        <thead>
        <tbody>
            <tr ng-repeat="project in projectsList">
                <td>{{ $index + 1 }}.</td>
                <td><a ng-href="#/project/{{project._id}}/board">{{ project.name }}</a></td>
                <td><a ng-href="#/project/{{project._id}}"><span class="glyphicon glyphicon-pencil"></span> Edit</a></td>
            </tr>
            <tr>
                <td>
                    <a class="btn btn-primary" href="#/project">Create New</a>
                </td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>