<div>
    <h3 class="col-xs-12">{{project.name ? project.name : 'New Project'}}</h3>
    <br>
    <div class="col-xs-12 row">
        <div class="form-group col-sm-6 col-xs-12">
            <label for="projName">Project name</label>
            <input type="text" class="form-control" ng-model="project.name" name='projName' id="projName" placeholder="Enter project name">
        </div>
    </div>
    <div>
        <div class="col-sm-6">
            <label>Statuses</label>
            <table class="table">
                <tbody>
                    <tr  ng-repeat="status in project.statuses" editable-row collection="project.statuses" index="$index">
                    </tr>
                    <tr>
                        <td><input placeholder="Status Name" type="text"  ng-model="statusToAdd"></td>
                        <td><a  class="btn btn-default" ng-click="addStatus()">Add Status</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-6">
            <label>Priorities</label>
            <table class="table">
                <tbody>
                    <tr  ng-repeat="priority in project.priorities" editable-row collection="project.priorities" index="$index">
                    </tr>
                    <tr>
                        <td><input placeholder="Priority Name" type="text"  ng-model="priorityToAdd"></td>
                        <td><a class="btn btn-default" ng-click="addPriority()">Add Priority</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-xs-12">
        <button class="btn btn-primary" ng-click="save()">Save Project</button>
    </div>
</div>