{% extends 'layout.twig' %}

{% block head %}
    {% parent %}
    <base href="/">
    <script src="javascripts/services/project-service.js"></script>
    <script src="javascripts/services/ticket-service.js"></script>
    <script src="javascripts/services/user-service.js"></script>
    <script src="javascripts/controllers/dashboard-controller.js"></script>
    <script src="javascripts/controllers/project-controller.js"></script>
    <script src="javascripts/controllers/project-board-controller.js"></script>
    <script src="javascripts/controllers/ticket-controller.js"></script>
    <script src="javascripts/client-app.js"></script>
{% endblock %}

   {% block nav %}
       <li ng-class="{ active: isActive('/about')}"><a href="#/about">About</a></li>
   {% endblock %}

    {% block nav-right %}
        <li><a href="/auth/signout">Log out</a></li>
    {% endblock %}

{% block content %}
    {% parent %}
{% endblock %}