{% extends 'layout.twig' %}

{% block head %}
    {% parent %}
    <base href="/">
    <script src="javascripts/client-app.js"></script>
    <script src="javascripts/client-controllers.js"></script>
{% endblock %}

   {% block nav %}
       <li><a href="#about">About</a></li>
   {% endblock %}

    {% block nav-right %}
        <li><a href="/auth/signout">Log out</a></li>
    {% endblock %}

{% block content %}
    {% parent %}
{% endblock %}